.container-header{
    width: 100vw;
    height: 150px;
    text-align: center;
    background-color: rgb(134, 134, 227);
    color: white;
    /* position:absolute; */
}

.container-header h1{
   
    /* margin-top: 20px; */
}